# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Nim Game.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\GameProjects\GP20-2021-0524-Nim-Game\HandIn Assignments\Nim Game\.idea\.idea.Nim Game.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
